// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import "login-signup";

body {
    .vertical-center-middle {
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .section {
        display: block;
        margin: 30px 0;
        padding: 10px 0;
        contain: content;
    }

    p {
        font-size: 18px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #333;
    }

    p.title {
        margin-bottom: 30px;
        font-size: 32px;
        font-family: 'Vollkorn', serif;
        font-weight: bold;
        color: #333;
        text-align: center;
    }

    dt.content {
        margin : 15px 0;
        font-size: 18px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #333;
    }

    dd.content {
        font-size: 18px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #333;
    }
}
