body {
    .header_s{
        .ownavigation {
            .logo-container {
                display: block;
                flex-direction: row;
                float: left;
                height: 111px;
            }
        }
    }
}
